In [10]:
import numpy as np
import pandas as pd

In [16]:
X_train = np.array([[10, 20,2],
           [30, 40,3],
           [50, 60,1],
           [10,30,5]])

In [17]:
X_train = pd.DataFrame(X_train)

In [18]:
len(X_train)

4

In [20]:
X_train.shape[1]

3

In [21]:
X_train.iloc[:,1:100]

    1  2
0  20  2
1  40  3
2  60  1
3  30  5

In [8]:
for i in range(len(X_train.sum(axis=1))):
    
    # if X_train.sum(axis=1)[i] == 0:
    print(i+1, X_train.sum(axis=1)[i])
    print(X_train[i])
    print(len(X_train[i]))

1 30
[10 20]
2
2 70
[30 40]
2
3 110
[50 60]
2